.columns {
  display: grid;
  width: 80%;
  grid-template-columns: 65% 35%;
  grid-template-rows: auto auto;
  grid-column-gap: 30px;
  justify-items: stretch;
  align-items: stretch;
  max-width: ${props => props.theme.sizes.maxWidth};
  margin: 0 auto;
}


.right .profile-picture {
  height: auto;
  border-radius: 50%;
}

.center > .right {
  text-align: center;
}

@media (max-width: 1000px) {
  .columns {
    grid-template-columns: 75% 25%;
  }
}

@media (max-width: 850px) {
  .columns {
    grid-template-columns: 100%;
  }

  .content {
    margin-top: 300px;
  }

  .right {
    position: absolute;
    top: 70px;
    left: 50%;
    width: 200px;
    margin: 20px -100px;
  }
  .left {
    margin-top: 300px;
  }
  .left h1 {
    font-size: 48px;
    text-align: center;
  }

  .left h2 {
    font-size: 21px;
    text-align: center;
  }

  .intro .block {
    font-size: 16px;
    line-height: 26px;
  }
}
